header {
    color: white;
    background-color: rgb(0, 0, 0)
}

nav a {
    margin: 15px; 
    text-align: center;
    background-color: white;
}

header p {
    text-align: center;
}

header {
    text-align: center;
    font-family: monospace;
}

h1 {
    text-align: center;
}

header nav {
    text-align: center;
}

main { 
    text-align: center;
    font-family: monospace;
}

footer {
    text-align: center;
    font-family: monospace;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: black;
    font-size: 17px;
}

main nav {
    margin: 15px;
}

.Ueban2000 {
    margin: 50px;
}

footer {
    background-color: black;
    color: white;
}
